*, *::before, *::after {
    box-sizing: border-box;

}

body {
    background-image: url("https://vignette.wikia.nocookie.net/starwars/images/c/cc/Star-wars-logo-new-tall.jpg/revision/latest?cb=20190313021755");
    background-position: center top;
}

.container {

}

.hide {
    display: none;
}

.questionBox {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: yellow;
}
#timerText {
    color: yellow;
    float: right;
}

h3 {
    margin-left: 20%;
    margin-right: 20%;
}

#highscoresStyle {
    left: -100%;

}

